.container {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
}
/*---------------------*/
/* Header Bar Styling */
/*-------------------*/
.mainHead {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: var(--title-font);
  text-align: center;
}

/*-------------------*/
/* Menu Bar Styling */
/*-----------------*/
.menuBar {
  border-top: solid 2px var(--background-secondary);
  border-bottom: solid 2px var(--background-secondary);
  display: flex;
  justify-content:space-evenly;
  margin: 0 auto;
  max-width: 1000px;
  min-width: 250px;
  background-color: var(--background-primary);
}

/*-------------------------*/
/* Main Game Grid Styling */
/*-----------------------*/
.gameGrid {
  /*border: solid 1px red;*/
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(12, minmax(15px, 90px));
  grid-template-rows: repeat(12, minmax(15px, 90px));
  background-color: var(--background-secondary);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

/*-------------------*/
/* Cast Bar Styling */
/*-----------------*/
.castButton {
  grid-column: 6 / 8;
  grid-row: 7 / 8;
  z-index: 1;
}

/*-------------------*/
/* Rarity colours */
/*-----------------*/
.common {
  color: var(--color-common);
}

.uncommon {
  color: var(--color-uncommon);
}

.rare {
  color: var(--color-rare);
}

.exceptional {
  color: var(--color-exceptional);
}

.legendary {
  color: var(--color-legendary);
}

.mythical {
  color: var(--color-mythical);
}

.ancient {
  color: var(--color-ancient)
}

/* Fish name styling */
.caughtFishText {
  color: var(--background-primary);
}