
.loadoutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: var(--background-primary);
}

.slotContainer {
    display: flex;
}

.slot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonContainer {

}

.itemSelect:hover {
    background-color: #60B2FF;
}