
.logContainer {
    grid-row: 9 / 13;
    grid-column: 1 / 13;
    z-index: 1;
    color: var(--color-white);
    background-color: var(--color-black);
    font-family: var(--content-font);
    overflow: scroll;
}