.mapModalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: var(--background-modal);
}

.mapModalContent {
    display: flex;
    background-color: var(--background-primary);
    z-index: 2;
}

.sideNavContainer {
    /*border: #8F00FF solid 1px;*/
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    background-color: var(--background-primary);
}